/* src/styles.css */
body {
  font-family: 'Great Vibes', cursive;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: darkcyan;
  padding: 12px 20px;
  z-index: 1000;
  /* position: fixed;
  top: 0;
  left: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  color: rgb(255, 255, 255);
}
 
.logo-section {
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 20px;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-size: 35px;
  font-weight:900;
  margin: 5px;
  margin-bottom: 10px;
}
.logo-section span {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5rem;
}
