apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: db-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: backend
          image: ghcr.io/najehch/surveypro-backend:latest
          imagePullPolicy: Always
          env:
            - name: JWT_SECRET
              value: "maSuperCleSecretea"
            - name: DATABASE_URL
              value: "postgresql://postgres:postgres@my-postgres:5432/enquetes"
            - name: SMTP_USER
              valueFrom:
                secretKeyRef:
                  name: smtp-secret
                  key: SMTP_USER
            - name: SMTP_PASS
              valueFrom:
                secretKeyRef:
                  name: smtp-secret
                  key: SMTP_PASS
            - name: FRONTOFFICE_URL
              value: "https://surveyapp.tn"
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          volumeMounts:
            - name: backend-storage
              mountPath: /app/data
      volumes:
        - name: backend-storage
          persistentVolumeClaim:
            claimName: backend-pvc
